/* цвет основной    #212121 */
/* цвет вторичный   #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* адрес в футере rgba(255, 255, 255, 0.6) */
body {
  background-color: tomato;
  color: teal;
}
ul {
  list-style: none;
}
